@charset "UTF-8";
/* ================================= 
  Base Styles
==================================== */
* {
  box-sizing: border-box; }

body {
  font-size: 16px;
  line-height: 22.4px;
  font-weight: normal;
  color: #666;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: #fafafa;
  text-align: center; }

p {
  margin-bottom: 1.5em; }

h1,
h2,
a {
  font-family: "Anton", Helvetica, Arial, sans-serif;
  font-size: 25.6px; }

h2,
h3 {
  margin-top: 0; }

h3 {
  font-size: 19.2px; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  max-height: 100%; }

@media (min-width: 1024px) {
  body {
    padding-top: 100px; } }

.anchor {
  display: block;
  height: 100px;
  /*same height as header*/
  margin-top: -115px;
  /*same height as header*/
  visibility: hidden; }

@media (min-width: 786px) {
  .container {
    padding-bottom: 150px; } }
@media (min-width: 1024px) {
  .container {
    position: relative; } }

@media (min-width: 786px) {
  .service-container {
    display: inline-block;
    width: 100%; } }

/*First section-introduce*/
.intro {
  text-align: justify; }

@media (min-width: 786px) {
  .profile-pic {
    float: right;
    margin-left: 20px;
    margin-top: -30px; } }
@media (min-width: 1024px) {
  .profile-pic {
    height: 100%; } }

.banner {
  padding: 3.2em 0;
  margin-bottom: 60px; }
  @media (min-width: 786px) {
    .banner {
      padding-bottom: 150px; } }

.col {
  padding-right: 1em;
  padding-left: 1em; }

/*skill*/
.service {
  margin-top: 40px; }
  @media (min-width: 786px) {
    .service {
      width: 30%;
      text-align: center;
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
      margin: 10px auto;
      vertical-align: top; }
      .service > h3 {
        padding-top: 5px;
        display: inline-block;
        margin-top: 30px; }
      .service > p {
        width: 100%;
        display: inline-block;
        margin-top: -10px;
        margin-left: 50px; } }

.logo {
  font-size: 2em;
  line-height: 100px;
  border: 3px solid #DDAA00;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  margin-left: 20px;
  margin-top: -4px; }
  @media (min-width: 786px) {
    .logo {
      float: none;
      margin: 0 auto; } }
  .logo::after {
    font-family: "FontAwesome";
    right: 15px;
    top: 23px;
    z-index: 2;
    width: 20px;
    text-align: center;
    color: #DDAA00; }

@media (min-width: 1024px) {
  .skills {
    margin: 20px auto; } }

.skill1::after {
  content: "\f1c9"; }

.skill2::after {
  content: "\f0d0"; }

.skill3::after {
  content: "\f108"; }

/*portfolio*/
.portfoliostyle {
  background: #fafafa;
  padding: 2.2em 0;
  margin-bottom: 60px; }

.portfolio {
  display: -ms-flex;
  display: flex;
  max-width: 1000px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  font-size: 16px; }

@media (min-width: 786px) {
  .item {
    width: 47%;
    margin: 10px 10px; } }
@media (min-width: 1024px) {
  .item {
    width: 32%;
    margin: 5px 5px; } }

@media (min-width: 786px) {
  .desc {
    margin: 15px auto; } }
@media (min-width: 1024px) {
  .desc {
    margin: 5px auto; } }

.main-nav > li.icon, .back-top {
  float: right; }

.logo, .name, .name-fo {
  float: left; }

@media (min-width: 1024px) {
  .container, .main-footer {
    width: 80%;
    max-width: 1150px;
    margin: 0 auto; } }

.name, .main-nav a, .main-fo > a {
  color: #DDAA00; }

/* ---- Navigation ---- */
.main-header {
  padding-top: .5em;
  padding-bottom: .5em; }
  @media (min-width: 1024px) {
    .main-header {
      position: fixed;
      top: 0;
      width: 100%;
      height: 100px;
      z-index: 1000;
      background: #fafafa; }
      .main-header clearfix::after {
        content: "";
        display: block;
        clear: both; } }

.name {
  font-size: 25.6px;
  margin: 0; }

.main-nav {
  margin: 0 auto; }
  @media (min-width: 1024px) {
    .main-nav {
      float: right; } }
  .main-nav > li {
    background: #fafafa;
    font-size: 16px;
    display: none; }
    @media (min-width: 1024px) {
      .main-nav > li {
        float: left; } }
  .main-nav > li.icon {
    display: inline-block; }
    @media (min-width: 786px) {
      .main-nav > li.icon {
        display: none; } }

.main-nav.responsive {
  position: relative; }
  .main-nav.responsive > li.icon {
    position: absolute;
    right: 0;
    top: 0; }
  .main-nav.responsive > li {
    float: none;
    display: inline; }
    .main-nav.responsive > li > a {
      display: block;
      text-align: left;
      margin-top: 10px; }

/*footer*/
.main-footer {
  padding: 2em 0;
  margin-top: 30px; }
  @media (min-width: 786px) {
    .main-footer {
      width: 90%;
      margin: 0 auto; } }

.main-fo {
  visibility: hidden; }
  @media (min-width: 786px) {
    .main-fo {
      visibility: visible;
      float: right;
      margin-right: -115px; } }
  @media (min-width: 786px) {
    .main-fo > li {
      float: left;
      padding-right: 25px;
      padding-left: 25px; } }

.back-top {
  margin-top: 10px;
  color: #add8e6; }
  @media (min-width: 786px) {
    .back-top {
      visibility: hidden; } }

@media (min-width: 786px) {
  .name, .main-nav > li {
    display: inline-block;
    background: none;
    padding: 10px 25px; } }

.main-nav > li, .main-fo > li {
  list-style-type: none;
  margin-top: 5px;
  margin-left: -45px; }

.main-nav a, .main-fo > a {
  display: block;
  padding: 0 10px;
  /*使name 跟list在同行*/
  text-align: center; }

.main-nav > li.icon, .back-top {
  float: right; }

.logo, .name, .name-fo {
  float: left; }

/*# sourceMappingURL=application.css.map */
