/*footer*/

.main-footer {
    @extend %cont;
	padding: 2em 0;
	margin-top: 30px;


	@include tablet{
  	width: 90%;
	margin: 0 auto;
  	} 
}


.main-fo{
	visibility: hidden;
	
	@include tablet{
  	visibility:visible;	
	float: right;
	margin-right: -115px;
  	}

  	>li {
  		@extend %nav-li;
		@include tablet{
		float: left;
		padding-right: 25px;
		padding-left:25px;
		}

  	}

  	>a {
  		@extend %default-color;
		@extend %nav-a;
  	}  
}




.name-fo{
    @extend %float-l;

}

.back-top{
	@extend %float-r;
	margin-top: 10px;
	color:$color-link-visited ;
	
	@include tablet{
	visibility: hidden;
	}
}