/* ---- Navigation ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
	

	@include desktop{
    position: fixed;
    top: 0;
    width: 100%;
    height:100px;
    z-index: 1000;
    background:$color-background;
    

  }

}

.name{
 	@extend %nav;
 	@extend %float-l;
 	@extend %default-color;
	font-size:$logo-size;
	
}

.main-nav {
	margin:0 auto;

	@include desktop{
	float: right;
	}

	>li {
		@extend %nav;
    	@extend %nav-li;
		background: $color-background;
		font-size: $font-size;
		display:none;
	

		@include desktop{
		float: left;
		}

	}

	>li.icon {
	  	@extend %float-r;
		display:inline-block;

		@include tablet{
		display: none;
	}


	}

	a {
		@extend %default-color;
		@extend %nav-a;

	}
}


.clearfix {
	ontent: "." ; 
	display: block ;
	clear: both ;
}


.main-nav.responsive {
	position:relative;


	>li.icon {
		position:absolute;
		right:0;
		top:0;
	}

	>li {
		float:none;
		display:inline;

		>a {
			display:block;
			text-align:left;
			margin-top:10px;

		}
	}
}











