/*First section-introduce*/
.intro {
  text-align:justify;
}


.profile-pic {
  
  @include tablet{
  float:right;
  margin-left:20px;
  margin-top:-30px;
  }

  @include desktop{
  height: 100%;
  }
}


.banner {
  padding: 3.2em 0;
  margin-bottom: 60px;

  @include tablet{
  padding-bottom:150px;
  }

}


.col {
  padding-right: 1em;
  padding-left: 1em;
}



/*skill*/

.service {
  margin-top: 40px;

  @include tablet{
  width: 30%;
  text-align: center;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  margin:10px auto;
  vertical-align: top;

  >h3 {
    padding-top: 5px;
    display: inline-block;
    margin-top:30px;

  }

  >p {
     width: 100%;
     display: inline-block;
     margin-top:-10px;
     margin-left:50px;
  }
  }


}





.logo {
  @include text(2em,100px);
  @extend %float-l;
  border:3px solid $color-border-dark;
  border-radius:50%;
  width:100px;
  height:100px;
  text-align:center;
  margin-left:20px;
  margin-top: -4px;

  @include tablet{
  float: none;
  margin: 0 auto;
  }

  &::after {
    font-family: $stack-logo;
    right: 15px;
    top: 23px;
    z-index: 2;
    width: 20px;
    text-align: center;
    color: $yellow-orange ;
  }
  

}


.skills {
  @include desktop{
  margin:20px auto;
  }
}



.skill1::after {
  content: "\f1c9";
}

.skill2::after {
  content: "\f0d0";
}

.skill3::after {
  content: "\f108";
}




/*portfolio*/
.portfoliostyle{
	background:$white;
	padding: 2.2em 0;
	margin-bottom: 60px;
}

.portfolio{
  display: -ms-flex;
  display:flex;
  max-width:1000px;
  -ms-flex-pack: distribute;
  justify-content:space-around;
  flex-direction: row;
  flex-wrap:wrap;
  margin: 0 auto;
  font-size:$font-size;

}

.item {
  @include tablet{
  width:47%;
  margin:10px 10px;
  }

  @include desktop{
  width:32%;
  margin:5px 5px;
  }
}

.desc {
  @include tablet{
  margin: 15px auto;
  }

  @include desktop{
  margin:5px auto;
  }
}


