
body {
  @include desktop{
    padding-top: 100px;
  }
}

.anchor{
  display: block;
  height: 100px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
}


.container {
  @extend %cont;

	@include tablet{
    padding-bottom: 150px;
  }

  @include desktop{
    position: relative;
  }
}

.service-container{
	@include tablet{
	display: inline-block;
	width: 100%;
	}
}