

//float

%float-r {
	float:right;
}

%float-l {
	float:left;
}



//container

%cont{
	@include desktop{
    width: 80%;
	max-width: 1150px;
	margin: 0 auto;
  	}
}

//Color

%default-color {
	color: $color-link-default;
}



