/* ---- Navigation ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
	

	@include desktop{
    position: fixed;
    top: 0;
    width: 100%;
    height:100px;
    z-index: 1000;
    background:$color-background;
    
    clearfix::after {
    	content: "";
  		display: block;
  		clear: both;
  	}

  }

}

.name{
 	@extend %nav;
 	@extend %float-l;
 	@extend %default-color;
	font-size:$logo-size;
	margin:0;
	
}

.main-nav {
	margin:0 auto;

	@include desktop{
	float: right;
	}
}


.main-nav li {
    @extend %nav;
    @extend %nav-li;
	background: $color-background;
	font-size: $font-size;
	display:none;
	

	@include desktop{
	float: left;
	}
}



.main-nav li a{
	@extend %default-color;
	@extend %nav-a;

}




.main-nav li.icon {
    @extend %float-r;
	display:inline-block;

	@include tablet{
	display: none;
	}

}

.main-nav.responsive {
	position:relative;
}

.main-nav.responsive li.icon {
	position:absolute;
	right:0;
	top:0;
}

.main-nav.responsive li {
	float:none;
	display:inline;
}

.main-nav.responsive li a{
	display:block;
	text-align:left;
}






