/* ================================= 
  Base Styles
==================================== */

* { 
  box-sizing: border-box;
}
  
body{
  @include text($font-size,$line-height, normal,$color-text-base);
  font-family:$stack-open-sans;
  background:$color-background ;
  text-align: center;

}

p {
  margin-bottom:1.5em;
}

h1,
h2,
a{
	font-family: $stack-anton;
	font-size: $h1-size;

}

h2,
h3 {
	margin-top: 0;
}

h3 {
	font-size: $h3-size;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	max-height: 100%
}